.entre {
    display: flex;

    margin-left: 165px;
    margin-top: 94px;
    width: 1110px;
    height: 354px;
    border-top: 1px solid rgba(51, 50, 61, 0.5);
    border-bottom: 1px solid rgba(51, 50, 61, 0.5);
}

.um {

    width: 350px;
    height: 42px;
    margin-top: 48px;

    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    color: rgba(51, 50, 61, 1);
}

.dois {
    width: 635px;
    height: 180px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-top: 48px;
    margin-left: 125px;
    color: rgba(51, 50, 61, 1);
}


.redes {
    position: absolute;
    margin-top: 242px;
    margin-left: 445px;



}


.redes ol {
    display: flex;
    list-style: none;
    margin-left: 15px;

}

.redes ol a {

    margin-left: 15px;

}

.cadastro {

    display: flex;
    width: 1110px;
    height: 426px;
    margin-left: 165px;
    margin-top: 50px;
}

.box1 {

    width: 350px;
    height: 42px;
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    color: rgba(51, 50, 61, 1);
}

.box2 {
    width: 635px;
    height: 426px;
    margin-left: 125px;
}

.login {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 30px;
    margin-top: 47px;
    color: rgba(51, 50, 61, 1);

}

input {
    border: 1px solid #ccc;
    background-color: rgba(51, 50, 61, 0.1);
    width: 635px;
    height: 48px;

}

.input:active {
    border: 2px solid black;
}

.mensagem {
    width: 635px;
    height: 96px;
}

.enviar {
    background-color: #203A4C;
    width: 200px;
    height: 48px;
    margin-left: 640px;
    margin-top: 24px;

}

.enviar:hover {
    background-color: #5FB4A2;
}

.enviar p {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 17px 38px;

}

.enviar a {
    text-decoration: none;
    color: white;
}