body{

    background: linear-gradient(to right, #545454, #161616);
    
}

.align{
    display: flex;

    justify-content: center;
}
.background{
   

    width: 98%;
    height: 100%;
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
  
}
.font{
    font-size: 18px;
    font-weight: 400;
    color: black;
    margin-top: 20px;
   padding-bottom: 20px;
   margin-left: 20px;
    margin-right: 20px;

   
}
.lead{
    font-size: 20px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
}

.button{
    background-color: white;
    font-size: 20px;
    font-weight: 700;
}
.button:hover{
    background-color: gray;
   
}
.grupo1{
    display: flex;
   
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 18px;
}
.teste{
    background-image: url(assets/WhatsApp\ Image\ 2024-04-27\ at\ 13.28.58.jpeg);
    background-size: cover;
    width: 170px;
    height: 170px;
    border-radius: 100%;
    margin: auto;
    position: relative;
    border-bottom: 3px solid rgb(75, 87, 100);
    border-right: 3px solid rgb(75, 87, 100);
    border-left: 3px solid rgb(233, 128, 99);
    border-top: 3px solid rgb(233, 128, 99);
    padding: 1px;
}
.card{
    margin-top: 20px;
    border-bottom: 3px solid rgb(75, 87, 100);
    border-right: 3px solid rgb(75, 87, 100);
    border-left: 3px solid rgb(233, 128, 99);
    border-top: 3px solid rgb(233, 128, 99);
}
.titulo{
    font-size: 20px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
}
.manchete{
    color: grey;
   font-weight: 200;
}

.buttonn{
   width: 50%;
   min-height: 18%;
   background-color: rgb(233, 128, 99);
   align-items: center;
justify-content: center;
display: flex;
border-radius: 20px;
margin-top: 100px;


}

.buttonn a{
 
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
    
    
    
}
.menu{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
}
.contato{
    margin-bottom: 20px;
    
}

.paragrafo{
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    height: 100px;
}