.grupo1 {
    margin-left: 212px;
}


.menu {

    display: inline-block;
    width: 540px;
    height: 500px;

}

#um {
    margin-top: 100px;
    background-image: url(../../assets/projeto1.jpeg);
    background-size: contain;
    background-repeat: no-repeat;

}

#dois {
    border-top: 1px solid rgba(51, 50, 61, 0.1);
    border-bottom: 1px solid rgba(51, 50, 61, 0.1);
    position: absolute;
    width: 350px;
    padding-top: 103px;
    margin-left: 125px;
}

.titulo {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    color: #33323D;
    font-family: 'Ibarra Real Nova', sans-serif;

}


#dois .paragrafo {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    margin-top: 28px;
}

#dois .verprojeto {
    padding-top: 17px;
    text-align: center;
    width: 175px;
    height: 48px;
    margin-top: 54px;
    border: 1px solid #33323D;
}

.verprojeto a {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #33323D;
}

.grupo2 {
    margin-left: 212px;
    margin-top: 80px;
}

#tres {
    position: absolute;
    margin-right: 125px;
    width: 350px;
    border-top: 1px solid rgba(51, 50, 61, 0.1);
    border-bottom: 1px solid rgba(51, 50, 61, 0.1);

}

.titulo2 {
    margin-top: 103px;
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    color: #33323D;
    ;
}

.paragrafo2 {
    margin-top: 28px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
    ;
}

.verprojeto2 {
    margin-top: 54px;
    width: 175px;
    height: 48px;
    border: 1px solid #33323D;
    text-align: center;
    padding: 17px 38px;
}

.verprojeto2 a {
    text-decoration: none;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323D;


}

#quatro {

    margin-left: 475px;
    background-image: url(../../assets/portfolio/bookmark/image-portfolio-bookmark.jpg);
    background-size: contain;
}

.grupo3 {
    margin-left: 212px;
    margin-top: 80px;
}

#cinco {
    background-image: url(../../assets/portfolio/insure/image-portfolio-insure.jpg);
    background-size: contain;
}

#seis {
    border-top: 1px solid rgba(51, 50, 61, 0.1);
    border-bottom: 1px solid rgba(51, 50, 61, 0.1);
    position: absolute;
    width: 350px;
    margin-left: 125px;


}

.titulo3 {
    color: #33323D;
    margin-top: 103px;
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
}

.paragrafo3 {
    color: #33323D;
    margin-top: 28px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.verprojeto3 {
    border: 1px solid #33323D;
    width: 175px;
    height: 48px;
    text-align: center;
    padding: 17px 38px;
    margin-top: 24px;
}

.verprojeto3 a {

    color: #33323D;
    text-decoration: none;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.grupo4 {
    margin-top: 80px;
    margin-left: 212px;
}

#sete {
    border-top: 1px solid rgba(51, 50, 61, 0.1);
    border-bottom: 1px solid rgba(51, 50, 61, 0.1);
    position: absolute;
    width: 350px;
    margin-right: 125px;
}

.titulo4 {
    color: #33323D;
    margin-top: 103px;
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
}

.paragrafo4 {
    color: #33323D;
    margin-top: 28px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.verprojeto4 {
    border: 1px solid #33323D;
    width: 175px;
    height: 48px;
    margin-top: 24px;
    text-align: center;
    padding: 17px 38px;
}

.verprojeto4 a {
    color: #33323D;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

#oito {
    background-image: url(../../assets/portfolio/fylo/image-portfolio-fylo.jpg);
    background-size: contain;
    margin-left: 475px;
}