.inicio {
    margin-left: 165px;
    margin-right: 165px;
    width: 1110px;
    height: 500px;
    background-image: url(../../assets/portfolio/bookmark/image-bookmark-hero.jpg);
    background-size: contain;

}

.container {
    display: flex;

    width: 1110px;
    height: 1192px;
    margin-right: 165px;
    margin-left: 165px;
    margin-top: 115px;
}

#um {

    width: 350px;
    height: 498px;
    border-top: 1px solid rgba(51, 50, 61, 0.2);
    border-bottom: 1px solid rgba(51, 50, 61, 0.2);

}

.titulo {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    padding-top: 48px;
    color: #33323D;
}

.paragrafo {
    margin-top: 29px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323D;
}

.link1 {
    margin-top: 53px;
}

.link1 a {
    color: #5FB4A2;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
}

.link2 {
    margin-top: 16px;
}

.link2 a {
    color: #5FB4A2;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
}

.visitar {
    margin-top: 32px;
    width: 178px;
    height: 48px;
    border: 1px solid #33323D;
    text-align: center;
    padding: 17px 38px;
}

.visitar a {
    color: #33323D;
    text-decoration: none;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

}

#dois {

    width: 635px;
    height: 250px;
    margin-left: 125px;
}

.titulo2 {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: #33323D;
}

.paragrafo2 {
    margin-top: 28px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #33323D;
}

.paragrafo2 span {
    text-decoration: underline;
}

.previews {
    position: absolute;

    margin-top: 287px;
    margin-left: 472px;
    width: 635px;
    height: 902px;
}

.titulo3 {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: #33323D;
}

.paragrafo3 {
    margin-top: 28px;
    width: 635px;
    height: 400px;
    background-image: url(../../assets/portfolio/bookmark/image-bookmark-preview-1.jpg);
    background-size: contain;
}

.paragrafo4 {
    margin-top: 32px;
    width: 635px;
    height: 400px;
    background-image: url(../../assets/portfolio/bookmark/image-bookmark-preview-2.jpg);
    background-size: contain;
}